* {
  color: white;
}
html,
body {
  background: cornflowerblue;
  background: -webkit-linear-gradient(to left, cornflowerblue, cornflowerblue);
  background: linear-gradient(to left, cornflowerblue, cornflowerblue);
  height: 100%;
}
h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: white;
}
.navbar-warning .navbar-brand {
  font-size: 2em;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: white;
}
.container {
  margin-bottom: 65px;
  margin-top: 45px;
}
.container-grid {
  flex-wrap: wrap;
  display: flex;
}
img {
  width: 300px;
  height: 150px;
}
.square_image {
  height: 240px;
  width: 250px;
  border-radius: 50%;
}
.paragraph {
  line-height: 1.6em;
  font-size: 1.2em;
  margin-top: 10px;
}
.contact-form {
  width: 80%;
}
.port-cards {
  margin-left: 0px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.wrapper {
  text-align: center;
}
.wrapper > h1 {
  margin: 40px;
  padding: 20px;
  font-size: 2.5rem;
}
.wrapper > p {
  margin-left: 2vh;
  margin-right: 2vh;
  margin-top: 10vh;
  margin-bottom: 10vh;
  font-size: 1.5rem;
}
.card-header {
  color: black;
}
.share > button {
  padding: 10px;
  border-radius: 5px;
  border: 2px solid white;
  width: 130px;
  margin: 5px;
  background-color: darkblue;
}
.share > button > a {
  color: rgb(red, green, blue);
}
a:hover {
  color: darkgoldenrod;
  text-decoration: none;
}
i.fab,
i.fas,
a {
  color: white;
}

i.fa-en
